{namespace RESU.Views.Projects autoescape="false"}

/**
 * Background
 */
{template .background}

{/template}

/**
 * Middle
 */
{template .middle}

{/template}

/**
 * Foreground
 */
{template .foreground}

{/template}

/**
 * Props
 */
{template .props}

{/template}
