{namespace RESU.Views.Work autoescape="false"}

/**
 * Background
 */
{template .background}
    <div class="{css work} {css layer}">

    </div>
{/template}

/**
 * Middle
 */
{template .middle}
    <div class="{css work} {css layer}">

    </div>
{/template}

/**
 * Foreground
 */
{template .foreground}
    <div class="{css work} {css layer}">

    </div>
{/template}

/**
 * Props
 */
{template .props}
    <div class="{css work} {css layer}">

    </div>
{/template}
